@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link href="~/css/site.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.IsInRole("Admin"))
{
    <h2>Hi Admin</h2>
    //Panel Admina
    <a class="btn-primmary text-dark" asp-area="" asp-controller="AdminPanel" asp-action="Index">AdminPanel</a>
}