@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link href="~/css/site.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w E-Wolontariacie</h1>
    <p>Przejdź do <a href="Actions">akcji</a> aby przejrzeć dostępne akcje wolontariatów</p>
</div>

@if (User.IsInRole("Admin"))
{
    <h2>Hi Admin</h2>
    //Panel Admina
    <a class="btn-primmary text-dark" asp-area="" asp-controller="AdminPanel" asp-action="Index">AdminPanel</a>
}